.layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 100px 200px auto; */
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    /* grid-gap: 20px; */ 
    /* grid-auto-rows: minmax(150px, auto);  */
    /* justify-items:center;
    align-items: center; */
}

.grid-item{
    background-color: bisque;
    box-shadow: 3px 3px 4px #ccc;
    padding:5px;
    border: 1px solid chocolate;
    text-align: center;
    color: chocolate;
    /* height: 30px; */
}


.item3{
    /* grid-column-start: 2;
    grid-row-start: 1; */
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 3; */
    /* grid-row:1/3;
    grid-column: 1/3; */
}


.layout2{
    display: grid;
    grid-template-areas: 'header header header header header header'
                         'aside aside content content content content'
                         'footer footer footer footer footer footer';
}

.header{
    background-color: aqua;
    text-align: center;
    padding:5px;
    grid-area: header;
}

.content{
    background-color: bisque;
    grid-area: content;
    text-align: center;
    padding:5px;
}

.aside{
    background-color: rgb(196, 255, 213);
    grid-area: aside;
    text-align: center;
    padding:5px;
}

.footer{
    background-color: blueviolet;
    grid-area: footer;
    text-align: center;
    padding:5px;
}


@media screen and (max-width:500px){
    .layout2{
    grid-template-areas: 'header header header header header header'
                         'content content content content content content'
                         'footer footer footer footer footer footer';
}
    .aside{
        display: none;
    }
    .header{
        background-color: aquamarine;
        font-size: 24px;
    }
}